<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>pl.softech.learning.gwtp.simple.server.spring</param-value>
    </context-param>

    <context-param>
        <param-name>symbolMapsPath</param-name>
        <param-value>WEB-INF/deploy/app/symbolMaps</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/app/remote_logging</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>app.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
