<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="learning.slick" level="trace"/>

    <!-- SQL sent to the database -->
    <logger name="slick.jdbc.JdbcBackend.statement" level="debug"/>
    <!-- Parameters passed to a query -->
    <logger name="slick.jdbc.JdbcBackend.parameter" level="debug"/>
    <!-- The first few results of each query -->
    <logger name="slick.jdbc.StatementInvoker.result" level="debug"/>
    <!-- Session events such as opening/closing connec ons -->
    <logger name="slick.session" level="debug"/>
    <!-- Everything! -->
    <logger name="slick" level="off"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>