<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="pl.softech.learning.gwtp.simple.server" level="debug"
		additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="pl.softech.learning.gwtp.simple.client" level="debug"
		additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>


	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>